.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-left: 80px;
  cursor: pointer;
  width: 400px;
}
.fa-trash{
    margin-left: 0.75rem;
}