.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-left: 80px;
  cursor: pointer;
  width: 400px;
}
.fa-trash{
    margin-left: 0.75rem;
}
/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .todo p {
    font-size: 14px;
  }
  .todo {
    width: 300px;
    margin-left: 0;
  }
}
