.to-do-wrapper {
    background: #1A1A40;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 250px;
  }
.to-do-wrapper h1 {
    color: #ffff;
}
.completed{
    color: #c5aeff;
    text-decoration: line-through;
}
@media only screen and (max-width: 600px) {
    .to-do-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: auto;
    }
    .to-do-wrapper h1{
        font-size: 1.5rem;
    }
    
}